:root {
  --primary: tomato;
  --secondary: rgb(215, 237, 241);

}

.App {
    text-align: center;
    width: 98%;
    max-width: 800px;
    margin: 0 auto;
}

/* Container */
.container {
    width: 98%;
    max-width: 800px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Menu Buttons */
.button-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.button > button {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 3px;
    width: 6rem;
    height: 2rem;
    outline: transparent;
}

.button > button:hover {
    color: white;
    background-color: var(--primary);
}

/* Header */
.header {
  
}

/* MenuItems */
.button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2rem;
}

.button > button {
    width: 6rem;
    box-shadow: 1px 1px 3px grey;
}

/* Tab Card */

.tab-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary);
    border-radius: 8px;
    box-shadow: 1px 1px 5px grey;
    padding: 2rem;
    margin: 1rem;
    background-color: rgb(215, 237, 241);
}
